apiVersion: v1
kind: Secret
metadata:
  name: "{{ nova_secret }}"
  namespace: "{{ lookup('env', 'POD_NAMESPACE') }}"
data:
  "ceph.client.{{ client }}.keyring": "{{ keyring_file | b64encode }}"
  "ceph.conf": "{{ ceph_conf | b64encode }}"
  "raw.{{ client }}.keyring": "{{ keyring | b64encode }}"